	<div class="tab-body">
		<fieldset>
			<%= f.fields_for :variable_ranges do |vr| %>
				<%= render "variable_range_fields", f: vr %>
			<% end %>
			<div class="addControls">
				<%= link_to_add_fields "Nueva variable", f, :variable_ranges %>
			</div>
		</fieldset>
	</div>